.titre{
    text-align: center;
}
.tableau-de-score{
    width: 389px;
    height: 91px;
    text-align:center;
    border: solid 2px rgb(0, 0, 0);
    padding: 0%;
}

.resultat{
    text-align: center;
}